body{
    margin:0;
}

ul li:hover{

    background-color:greenyellow;
}

.box{
    border:1px solid blue;
    box-shadow: 5px 8px blue;
    min-height: 600px;
}

#hangMan{
    height: 200px;
    width: 149px;
    background-image: url('../img/ahorcado.png');
}

.titles{
    background-image: linear-gradient(to bottom, blue, white);
}

.mainTitle{
    font-family: 'Londrina Solid', cursive;
    font-size: 72px;
}

.secTitle{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.foot{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
}

.space{
    min-height: 100px;
}
.boton{
 
    font-size: 50px;
    font-family: 'Londrina Solid', cursive;
    width: 350px;
    height: 150px;
    background-color:greenyellow;
    
    border-color: darkgreen;
    
}