body{
    margin:0;
 
}

#hangMan{

    height: 200px;
    width: 149px;
    background-image: url('../img/ahorcado.png');
    
}

.titles{

    background-image: linear-gradient(to bottom, blue, white);

}

.mainTitle{
    font-family: 'Londrina Solid', cursive;
    font-size: 72px;
 
}

.secTitle{

    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.foot{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;   /*background-image: linear-gradient(to bottom, white, rgb(121, 92, 155));*/
}

.container
{

    border:1px solid blue;
    box-shadow: 5px 8px blue;
}

.boton{
  /*   display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; */
    font-size: xx-large;
    font-family: 'Londrina Solid', cursive;
    width: 350px;
    height: 150px;
    background-color:greenyellow;
    
    border-color: darkgreen;
    
}